<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../asset/css/main.css">
  <link rel="stylesheet" href="../asset/css/globle.css">

  <link rel="icon" type="image/x-icon" href="https://img.icons8.com/arcade/64/cheeseburger.png">


  <title>MOS Burgers</title>
</head>

<body>


  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://chamarasapumal.github.io/mosburgers/">
        <img width="50" height="50" src="https://img.icons8.com/arcade/64/cheeseburger.png" alt="cheeseburger"
          class="d-inline-block align-text-top brand-logo">
        MOS Burgers
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a id="ourMenuLink" class="nav-link dropdown-toggle" href="https://www.google.com" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Our Menu
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Burgers</a></li>
              <li><a class="dropdown-item" href="#">Submarines</a></li>
              <li><a class="dropdown-item" href="#">Fries</a></li>
              <li><a class="dropdown-item" href="#">Pasta</a></li>
              <li><a class="dropdown-item" href="#">Chicken</a></li>
              <li><a class="dropdown-item" href="#">Beverages</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about_us.html">About us</a>
          </li>
          <li class="nav-item your-meal">
            <a class="nav-link active" aria-current="page" href="#sign-in">Your Meal</a>
          </li>
        </ul>
        <a id="sign-in" href="#sign-in">
          <img class="sign-in-img brand-logo" width="50" height="50"
            src="https://img.icons8.com/ios-filled/50/FAB005/meal.png" alt="meal" />
        </a>
      </div>
    </div>
  </nav>
  <!-- Navbar -->


  <!-- Header section -->
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Burger Bliss</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Burgers: savory marvels of juicy patties nestled between toasted buns. They're culinary
        canvases, boasting endless variations with crisp lettuce, tomatoes, pickles, and melty cheese. A flavorful union
        satisfying taste buds worldwide.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="#burger-catogory"><button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Find
            burger</button></a>
        <a href="#our-secret"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Our
            secret</button></a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img
          src="https://images.unsplash.com/photo-1571091718767-18b5b1457add?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
  <!-- Header section -->


  <!-- Burger category -->
  <section id="burger-catogory" class="pt-3">

    <h1 class="text-center my-5 fw-bold">The Burger Encyclopedia</h1>

    <div class="container">

      <div class="row gy-3 ">

        <div id="classic-burger" class="col-lg-3 col-sm-6">
          <div class="card h-100">
            <img src="../asset/img/burgers/classic_burger_lg.jpg" class="card-img-top" alt="dubai mall">
            <div class="card-body">
              <h5 class="card-title">Classic Burger ( Large ) - LKR 750</h5>
              <p class="card-text">Indulge in our Classic Burger (Large) – a timeless delight featuring a
                premium beef
                patty nestled in toasted buns. Enjoy the perfect blend of fresh lettuce, ripe tomatoes, pickles, and
                savory sauces, delivering a satisfying and nostalgic taste that never goes out of style.
              </p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>

        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card h-100">
            <img src="../asset/img/burgers/classic_burger_rg.jpg" class="card-img-top" alt="aura skypool">
            <div class="card-body">
              <h5 class="card-title">Classic Burger ( Regular ) - LKR 1,500</h5>
              <p class="card-text">Enjoy our Classic Burger (Regular) – a delightful experience with a juicy beef patty
                nestled between soft, toasted buns. Featuring fresh lettuce, ripe tomatoes, pickles, and savory sauces,
                it's a delicious classic that satisfies every craving.</p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

        <div id="turkey-burger" class="col-lg-3 col-sm-6">
          <div class="card h-100">
            <img src="../asset/img/burgers/turkey_burger.jpg" class="card-img-top" alt="hotel atlantis dubai">
            <div class="card-body">
              <h5 class="card-title">Turkey Burger - LKR 1,600</h5>
              <p class="card-text">Delve into our Turkey Burger—a flavorful twist on a classic. Embrace a succulent
                turkey patty embraced by lightly toasted buns. Complemented by crisp lettuce, ripe tomatoes, and a
                medley of zesty pickles and special sauces, it's a deliciously lean and savory choice for a satisfying
                bite.</p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

        <div id="chicken-burger" class="col-lg-3 col-sm-6">
          <div class="card h-100">
            <img src="../asset/img/burgers/cheese_burger_lg.jpg" class="card-img-top" alt="tabuk">
            <div class="card-body">
              <h5 class="card-title">Chicken Burger ( Large ) - LKR 1,400</h5>
              <p class="card-text">Dive into our Chicken Burger (Large) for a taste that's truly fulfilling. Sink your
                teeth into a generous, tender chicken patty embraced by toasted buns. Enhanced with crisp lettuce, juicy
                tomatoes, a tangy pickle slice, and our signature sauces, it's a delightful and hearty treat that never
                disappoints.</p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>

        </div>
      </div>

      <div class="row gy-3 mt-3 ">

        <div class="col-md-4">
          <div class="card h-100">
            <img src="../asset/img/burgers/chicken_burger_rg.jpg" class="card-img-top" alt="tiran island">
            <div class="card-body">
              <h5 class="card-title">Chicken Burger ( Regular ) - LKR 800</h5>
              <p class="card-text">Savor our Chicken Burger (Regular) for a delightful treat. Enjoy a tender chicken
                patty nestled between soft buns. Accompanied by fresh lettuce, juicy tomatoes, a touch of pickles, and
                our signature sauces, it's a tasty and satisfying choice for any occasion.</p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

        <div id="cheese-burger" class="col-md-4">
          <div class="card h-100">
            <img src="../asset/img/burgers/cheese_burger_lg.jpg" class="card-img-top" alt="umluj">
            <div class="card-body">
              <h5 class="card-title">Cheese Burger ( Large ) - LKR 1,000</h5>
              <p class="card-text">Delight in our Cheese Burger (Large) – a delicious harmony of flavors. Indulge in a
                juicy beef patty layered with melted cheese, nestled between perfectly toasted buns. Complemented by
                fresh lettuce, ripe tomatoes, pickles, and our special sauces, it's a generous and fulfilling feast
                for
                cheeseburger enthusiasts.</p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card h-100">
            <img src="../asset/img/burgers/cheese_berger_rg.jpg" class="card-img-top" alt="tabuk">
            <div class="card-body">
              <h5 class="card-title">Cheese Burger ( Regular ) - LKR 600</h5>
              <p class="card-text">Treat yourself to our Cheese Burger (Regular) – a classic delight with a perfect
                balance. Enjoy a savory beef patty topped with melted cheese, embraced by soft buns. Complete with
                fresh
                lettuce, ripe tomatoes, a hint of pickles, and our signature sauces, it's a satisfying choice for a
                taste of the traditional.</p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

      </div>

      <div class="row gy-3 mt-3 ">

        <div class="col-lg-3 col-sm-6">
          <div id="bacon-burger" class="card h-100">
            <img src="../asset/img/burgers/bacon_burger.jpg" class="card-img-top" alt="tiran island">
            <div class="card-body">
              <h5 class="card-title">Bacon Burger - LKR 650</h5>
              <p class="card-text">Indulge in our Bacon Burger—an explosion of savory flavors. Revel in a juicy beef
                patty crowned with crispy bacon, nestled between toasted buns. Enhanced by fresh lettuce, ripe
                tomatoes,
                a touch of pickles, and our signature sauces, it's a mouthwatering experience that combines the best
                of
                smoky and savory.</p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card h-100">
            <img src="../asset/img/burgers/shawarma_burger.jpg" class="card-img-top" alt="umluj">
            <div class="card-body">
              <h5 class="card-title">Shawarma Burger - LKR 850</h5>
              <p class="card-text">
                Discover our Shawarma Burger—an exotic twist on a classic favorite. Immerse yourself in a medley of
                flavors with a seasoned shawarma-inspired patty, embraced by warm, toasted buns. Infused with
                authentic
                spices and complemented by fresh lettuce, diced tomatoes, and our special sauces, it's a fusion of
                cultures in every satisfying bite.</p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card h-100">
            <img src="../asset/img/burgers/olive_burger.jpg" class="card-img-top" alt="tabuk">
            <div class="card-body">
              <h5 class="card-title">Olive Burger - LKR 1,800</h5>
              <p class="card-text">Indulge in our Olive Burger—an intriguing blend of flavors. Experience a succulent
                patty infused with olive goodness, nestled within perfectly toasted buns. Enhanced by the richness of
                olives, paired with fresh lettuce, juicy tomatoes, and our signature sauces, it's a unique and
                delightful twist that tantalizes the taste buds.</p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6">
          <div class="card h-100">
            <img src="../asset/img/burgers/double_cheese_burger.jpg" class="card-img-top" alt="tiran island">
            <div class="card-body">
              <h5 class="card-title">Double-Cheese Burger - LKR 1,250</h5>
              <p class="card-text">Dive into our Double-Cheese Burger—a symphony of cheesy goodness. Enjoy two juicy
                beef patties generously layered with melted cheese between golden, toasted buns. Elevated by fresh
                lettuce, ripe tomatoes, a hint of pickles, and our signature sauces, it's a hearty and flavorful
                delight
                for cheeseburger enthusiasts.</p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

      </div>

      <div class="row gy-3 mt-3 ">

        <div class="col-md-4">
          <div class="card h-100">
            <img src="../asset/img/burgers/crispy_chicken_burger_rg.jpg" class="card-img-top" alt="umluj">
            <div class="card-body">
              <h5 class="card-title">Crispy Chicken Burger (Regular) - LKR 1,200</h5>
              <p class="card-text">
                Treat yourself to our Crispy Chicken Burger (Regular) — a crunchy delight. Sink your teeth into a
                crispy
                chicken patty nestled between soft buns. Enhanced with fresh lettuce, ripe tomatoes, a touch of
                pickles,
                and our signature sauces, it's a satisfying and flavorful choice for a crispy, juicy experience.</p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card h-100">
            <img src="../asset/img/burgers/crispy_chicken_burger_lg.jpg" class="card-img-top" alt="tabuk">
            <div class="card-body">
              <h5 class="card-title">Crispy Chicken Burger (Large) - LKR 1,600</h5>
              <p class="card-text">Savor the extra crunch with our Crispy Chicken Burger (Large). Delight in a
                generous
                crispy chicken patty embraced by soft buns. Complemented by fresh lettuce, ripe tomatoes, a hint of
                pickles, and our signature sauces, it's a fulfilling and crispy indulgence perfect for a larger
                appetite.</p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card h-100">
            <img src="../asset/img/burgers/paneer_burge.jpg" class="card-img-top" alt="tiran island">
            <div class="card-body">
              <h5 class="card-title">Paneer Burger - LKR 900</h5>
              <p class="card-text">
                Experience a vegetarian delight with our Paneer Burger. Enjoy a flavorful paneer (Indian cottage
                cheese)
                patty nestled between soft buns. Elevated with a medley of fresh lettuce, ripe tomatoes, and our
                signature sauces, it's a satisfying and savory choice for those seeking a delicious meat-free option.
              </p>
              <a data-bs-toggle="modal" data-bs-target="#book-tour" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

      </div>

  </section>
  <!-- Burger category -->


  <!-- Our secret -->
  <section id="our-secret" class="pt-4">

  </section>
  <!-- Our secret -->

  <!-- Footer -->
  <section id="footer" class="">
    <div class="container">
      <footer class="py-5">
        <div class="row">
          <div class="col-6 col-md-2 mb-3">
            <h5>Burgers</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#classic-burger" class="nav-link p-0 text-body-secondary">Classic
                  Burger</a></li>
              <li class="nav-item mb-2"><a href="#turkey-burger" class="nav-link p-0 text-body-secondary">Turkey
                  Burger</a></li>
              <li class="nav-item mb-2"><a href="#chicken-burger" class="nav-link p-0 text-body-secondary">Chicken
                  Burger</a></li>
              <li class="nav-item mb-2"><a href="#cheese-burger" class="nav-link p-0 text-body-secondary">Cheese
                  Burger</a></li>
              <li class="nav-item mb-2"><a href="#bacon-burger" class="nav-link p-0 text-body-secondary">Bacon
                  Burger</a></li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Submarines</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Crispy Chicken
                  Submarine</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chicken Submarine</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Grinder Submarine</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Cheese Submarine</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">MOS Special Submarine</a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h5>Pasta</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chicken n Cheese Pasta</a>
              </li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chicken Panne Pasta</a>
              </li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Creamy Shrimp Pasta</a>
              </li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Lemon Butter Pasta</a>
              </li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Tagliatelle Pasta</a>
              </li>
            </ul>
          </div>

          <div class="col-md-5 offset-md-1 mb-3">
            <form>
              <h5>Subscribe to get our new deals</h5>
              <p>Monthly digest of what's new and exciting from us.</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                <button class="btn btn-warning" type="button">Subscribe</button>
              </div>
            </form>
          </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>&copy; 2023 MOS Burgers, Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                  <use xlink:href="#twitter" />
                </svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                  <use xlink:href="#instagram" />
                </svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                  <use xlink:href="#facebook" />
                </svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
  </section>
  <!-- Footer -->


  <script src="../asset/js/click.js"></script>
  <script src="../asset/js/app.js"></script>
  <script src="../asset/bootstrap.bundle.min.js"></script>
</body>

</html>